

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* * {
  box-sizing: border-box;
} */

.container{
  padding: 150px 0;
}

.formbox{
    display: flex;
    justify-content: center;
    margin-top: 5em;  
}
.singIn{
  float: right;
  padding: 2em;
}
input{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 10px;
}

p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 14px;
}